#block-locale-language{
  .language-switcher-locale-url{
    text-align: right;
    margin-bottom: 10px;
    padding-top: 7px;
    li{
      display: inline-block;
      a{
        color: $text_gray_light;
        padding-left: 5px;
        color: transparent;
        letter-spacing: -3px;
        opacity : 0.5;
        &.active{
          opacity : 1;
        }
      }
      &.en{
        a{
          background: url(/sites/all/themes/oms/images/uk-flag.jpg) no-repeat top left;
        }
      }
      &.vi{
        a{
          background: url(/sites/all/themes/oms/images/vn.png) no-repeat top left;
        }
      }
    }
  }
}

@include bp(max-width,$bp-tablet){
  #block-locale-language{
    z-index: 9999;
    .language-switcher-locale-url{
      li{
        a{
          padding-left: 5px;

        }

      }
    }
  }
}