.menu-product-category{
  .title{
    font-size: 16px;
    text-transform: none;
    &:after{
      display: none;
    }
    margin-bottom: 5px;
  }
  ul.menu{
    padding: 0px;
    li{
      list-style: none;
      padding-left: 0px;
      margin: 0px;
      padding:10px 0px;
      border-bottom: 1px solid $bg_7;
      a{
        text-decoration: none;
        font-size: 15px;
        color: $text_gray_light;

        &:hover{
          color: $text_red;
        }
        &.active{
          color: $bg_4;
        }
        &:before{
          content: '\2022\2002';
        }
      }
      .glyphicon{
        float: right;
        margin-right: 15px;
        font-size: 8px;
        padding: 4px;
        color: $text_white;
        background-color: $text_gray_light;
      }
    }
  }

  .content{
    &>ul.menu{
      &>li{

        ul.menu{
          display: none;
        }
        &.open{
          .glyphicon-plus:before{
            content: "\00af";
          }
          ul.menu{
            display: block;
            li{
              padding-left: 10px;
              a{

                &:before{
                  content:"\00bb ";
                }
              }
              &:last-child{
                border-bottom: 0px;
              }
            }
          }
        }
      }
    }

  }
}