.videos-font{
  .views-row{
    display: block;
    float: left;
    width: 50%;
    &:first-child{
      padding-right: 15px;

    }
    &:last-child{
      padding-left: 15px;
    }
    a{
      color: $text_gray_light;
      padding-top: 15px;
      display: block;
    }
  }
}