#navigation{
  ul.menu{
    display: block;
    li{
      list-style: none;
      display: block;
      float: left;
      padding: 0px 0px 0px 30px;
      margin: 0px;
      a{
        font-size: 18px;
        padding:25px 0px;
        display: block;
        position: relative;

        &.active{
          background: transparent;
          color: $text_red;
          &:after{
            position: absolute;
            content: "";
            bottom: 0px;
            width: 100%;
            background-color: $text_red;
            height: 3px;
            left:0px;
          }
        }
        &:hover{
          background: transparent;
          color:$text_red;
          text-decoration: none;
          &:after{
            position: absolute;
            content: "";
            bottom: 0px;
            width: 100%;
            background-color: $text_red;
            height: 3px;
            left:0px;
          }
        }

      }
    }
  }
}


@include bp(max-width,$bp-tablet){

  .menu-btn{
    display: inline-block;
    float: right;
    span.icon-bar{
      display: block;
      height: 4px;
      background-color: red;
      width: 35px;
      margin-bottom: 10px;
      border-radius: 2px;
    }
  }
  .search-icon{
    display: inline-block;
    float: right;
    font-size: 33px;
    line-height: 33px;
    margin-right: 10px;
  }
  .mobile-header{
    display: table;
    width: 100%;
    #logo{
      display: table-cell !important;
      float: none;
    }
    .mobile-menu{
      display: table-cell;
      vertical-align: middle;
      float: none;
    }
  }
  #header .pull-left #logo a{
    justify-content: left;
    align-items: left;
    img{
      max-height: 68px;
    }
  }
}