
#home-banner{
  margin-top: -30px;width: 100%;display: block;
}
.banner-home{
  .row-content{
    position: relative;
    .views-field-title{
      position: absolute;
      right: 0px;
      bottom: 10%;
      padding: 10px 100px 10px 20px;
      background-color: $text-white;
      font-size: 30px;
    }
  }
}