header{
  z-index: 100;
  position: fixed;
  top: 0px;
  width: 100%;
}
#header-top{
  background-color: $bg_1;
  padding-top: 20px;
  padding-bottom: 20px;

}
#header{
  background-color: rgba(255, 255, 255, 0.15)
}
