/* Variables */
/* Break point */
/* Mixin */
/* Mixin style */
/* animation */
/* appearance */
/* border radius */
/* box-shadow */
/* custome font */
/* filter */
/* transform */
/* transition */
/* placeholder */
/* opacity */
/* breakpoint with one condition(min or max) */
/* breakpoint with two conditions (min and max) */
/*global*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datas\/websites\/dev\.sutunam\.com\/bcc\/sites\/all\/themes\/oms\/scss\/global\/_general\.scss}line{font-family:\000031}}
img {
  max-width: 100%;
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datas\/websites\/dev\.sutunam\.com\/bcc\/sites\/all\/themes\/oms\/scss\/global\/_header\.scss}line{font-family:\000031}}
header {
  z-index: 100;
  position: fixed;
  top: 0px;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datas\/websites\/dev\.sutunam\.com\/bcc\/sites\/all\/themes\/oms\/scss\/global\/_header\.scss}line{font-family:\000037}}
#header-top {
  background-color: #E1F4FC;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datas\/websites\/dev\.sutunam\.com\/bcc\/sites\/all\/themes\/oms\/scss\/global\/_header\.scss}line{font-family:\0000313}}
#header {
  background-color: rgba(255, 255, 255, 0.15);
}

/*components*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datas\/websites\/dev\.sutunam\.com\/bcc\/sites\/all\/themes\/oms\/scss\/components\/_main-menu\.scss}line{font-family:\000032}}
#navigation ul {
  padding: 0px;
  margin: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datas\/websites\/dev\.sutunam\.com\/bcc\/sites\/all\/themes\/oms\/scss\/components\/_main-menu\.scss}line{font-family:\000035}}
#navigation ul li {
  list-style: none;
  display: block;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datas\/websites\/dev\.sutunam\.com\/bcc\/sites\/all\/themes\/oms\/scss\/components\/_block-menu-top\.scss}line{font-family:\000032}}
.menu-top ul {
  padding: 0px;
  display: table;
  margin: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datas\/websites\/dev\.sutunam\.com\/bcc\/sites\/all\/themes\/oms\/scss\/components\/_block-menu-top\.scss}line{font-family:\000035}}
.menu-top ul li {
  list-style: none;
  display: block;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datas\/websites\/dev\.sutunam\.com\/bcc\/sites\/all\/themes\/oms\/scss\/components\/_block-menu-top\.scss}line{font-family:\0000310}}
.menu-top ul li a {
  display: inline-block;
  color: #7a7a7a;
  position: relative;
  padding-right: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datas\/websites\/dev\.sutunam\.com\/bcc\/sites\/all\/themes\/oms\/scss\/components\/_block-menu-top\.scss}line{font-family:\0000315}}
.menu-top ul li a:after {
  content: "";
  position: absolute;
  right: 0px;
  height: 12px;
  top: 5px;
  width: 1px;
  background-color: #7a7a7a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datas\/websites\/dev\.sutunam\.com\/bcc\/sites\/all\/themes\/oms\/scss\/components\/_block-menu-top\.scss}line{font-family:\0000328}}
.menu-top ul li:last-child a:after {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datas\/websites\/dev\.sutunam\.com\/bcc\/sites\/all\/themes\/oms\/scss\/components\/_block-search\.scss}line{font-family:\000032}}
.block-search .search-form {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datas\/websites\/dev\.sutunam\.com\/bcc\/sites\/all\/themes\/oms\/scss\/components\/_block-search\.scss}line{font-family:\000036}}
.block-search .container-inline {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datas\/websites\/dev\.sutunam\.com\/bcc\/sites\/all\/themes\/oms\/scss\/components\/_block-search\.scss}line{font-family:\000038}}
.block-search .container-inline .form-type-textfield {
  padding: 0px;
  margin: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datas\/websites\/dev\.sutunam\.com\/bcc\/sites\/all\/themes\/oms\/scss\/components\/_block-search\.scss}line{font-family:\0000311}}
.block-search .container-inline .form-type-textfield .element-invisible {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datas\/websites\/dev\.sutunam\.com\/bcc\/sites\/all\/themes\/oms\/scss\/components\/_block-search\.scss}line{font-family:\0000315}}
.block-search .container-inline .form-text {
  line-height: 24px;
  border: none;
  background-color: #3AA6C9;
  color: #fff;
  width: 100%;
  border-radius: 3px;
  padding-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datas\/websites\/dev\.sutunam\.com\/bcc\/sites\/all\/themes\/oms\/scss\/components\/_block-search\.scss}line{font-family:\0000324}}
.block-search .container-inline .form-actions {
  position: absolute;
  right: 0px;
  display: block;
  top: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datas\/websites\/dev\.sutunam\.com\/bcc\/sites\/all\/themes\/oms\/scss\/components\/_block-search\.scss}line{font-family:\0000329}}
.block-search .container-inline .form-actions input {
  background-color: transparent;
  border-left: 1px solid #fff;
  padding: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datas\/websites\/dev\.sutunam\.com\/bcc\/sites\/all\/themes\/oms\/scss\/components\/_main-banner\.scss}line{font-family:\000032}}
#home-banner {
  padding-top: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datas\/websites\/dev\.sutunam\.com\/bcc\/sites\/all\/themes\/oms\/scss\/components\/_main-banner\.scss}line{font-family:\000036}}
.banner-home .row-content {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/datas\/websites\/dev\.sutunam\.com\/bcc\/sites\/all\/themes\/oms\/scss\/components\/_main-banner\.scss}line{font-family:\000038}}
.banner-home .row-content .views-field-title {
  position: absolute;
  right: 0px;
  bottom: 10%;
  padding: 10px 100px 10px 20px;
  background-color: #fff;
  font-size: 30px;
}

/*page*/

/*# sourceMappingURL=style.css.map */
